<nav>
    <div>
        <a href="/">Homepage</a>
        <a href="/coffeshops">Favorites</a>
    </div>
    <div>
        <% if(user) { %>
            <span><%= user.username %></span>
            <a href="/auth/logout">Log Out</a>    
        <% } else { %>
            <a href="/auth/login">Log In</a>
            <a href="/auth/new">Sign up</a>
        <% } %>
    </div>
 </nav>