
<h1 class="quote"><q>Live life today like there is no coffee tomorrow</q></h1>

<h3>Search for the coffeeshops by location or the name of the coffeeshop and location</h3>

<form action='/search' method="GET">
    <input type="text" placeholder="location" name="location" class="search"><br>
    <input type="text" placeholder="name" name="term" class="search"><br>
    <input type="submit" value="submit" class="submit-search">
</form>
