
<h1 class="quote"><q>Live life today like there is no coffee tomorrow</q></h1>


<form action='/search' method="GET">
    <input type="text" placeholder="search" name="location" class="search">
    <input type="submit" value="submit" class="submitBut">
</form>
