@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body{
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1561395716-c431a0c71861?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cantarell', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(253, 186, 186, 0.8);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 0;
}
 nav a:hover{
    color: rgb(0, 0, 0);
    font-size: large;
 }

.logo{
    font-size: xx-large;
    color: rgb(0, 0, 0);
    font-family: 'Parisienne', cursive;
}

h1{
    padding-top: 25px;
    color: white;
}

a{
    text-decoration: none;
}

.coffeeshopImg{
    opacity: 1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.coffeeshopImg:hover{
    transform: scale(1.1);
}


.imgDetailsPage{
    width: 260px;
    height: 260px;
    border-radius: 20%;
}

.card{
    margin: 10px;
    padding: 10px;
}

.results{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.results a{
    color: black;
    text-decoration: none;
}
.quote{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20px;
}

.search{
    text-align: center;
    margin: 15px;
    width: 170px; 
    height: 40px;
}

.submitBut{
    width: 100px; 
    height: 40px;
}

.favoriteButt{
    margin-bottom: 15px;
}

.nameOfCoff{
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.delete{
    text-align: center;
    border: 1px solid rgb(255, 191, 191);
    border-radius: 50%;
    margin-bottom: 10px;
    width: 120px;
    height: 30px;
}

.delete:hover{
    background-color: rgb(255, 238, 238);
}

.results a:hover{
    color: rgb(0, 99, 102);
}

.submit-search{
    width: 100px; 
    height: 30px;
    background-color: lavender;
}